body {
    background-color: rgba(165, 42, 42, 0.866);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

body > div {
    width: 300px;
    background-color: rgba(165, 42, 42, 0.866);
    border-radius: 10px;
    border: 1px solid beige;
    text-align: center;
}